body{
    background-color: #111111;
}

/* #quack{
    width: 100px;
    height: 100px;

} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    scroll-behavior: smooth;
    background-color: #121212;
    color: white;
}

#navbar {
    position: sticky;
    top: 20px;
    background: linear-gradient(180deg, #0D0D0D, #1A1A1A);
    padding: 0.8rem 2rem;
    width: 85%; 
    max-width: 650px; 
    margin: 0 auto;
    border-radius: 90px;
    z-index: 1000;
}

#navbar ul {
    display: flex;
    justify-content: center;
    gap: clamp(1rem, 5vw, 3rem);
    list-style: none;
    white-space: nowrap; 
    align-items: center;
}

nav#navbar a {
    color: white;
    text-decoration: none;
}

section {
    min-height: 200vh;
    padding: 4rem 2rem;
    /* border-bottom: 1px solid #333; */
}
.navLink {
    color: white;
    text-decoration: none;
    /* font-weight: normal; */
    transition: all 0.3s ease;
    font-size: clamp(0.6rem, 1.8vw, 1rem);
    font-weight: lighter;
}

.active {
    font-weight: light;
    font-size:clamp(0.8rem, 2vw, 1.2rem);;
    background: linear-gradient(180deg, #00ffff, #0077ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* #home {
  position: relative;
  min-height: 100vh;
  padding: 2rem;
  overflow: hidden;
} */


#homeContainer {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 4rem;
}

#textDiv {
  flex: 1;
  color: white;
  background-color: blue;
}

#picDiv {
  flex: 1;
  background-color: green;
}

.stickySvg{
    display: flex;
    align-items: flex-start;
    position: absolute;
    z-index: -1;
}